* {
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1.title-layouts {
    font-size: 3em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 1em;
    font-family: 'Marcellus SC', serif;
    padding: 1em 0;
}

h1.title-layouts span {
    margin-right: 15px;
    color: #ffa200;
}

h1.card-header {
    margin-right: 15px;
    color: white;
    background:white;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #0f3370;
  text-align: center;
  font-size: 16px;
  padding-right:10%;
  padding-left:10%;
}

.thumbnail {
  padding-left:20px;
  padding-right:20px;
}

.skill_desc {
  text-align:left;
  color:white;
}

.skill_desc h4 {
  display:inline-block;
}

.skill_desc button {
  float:right;
}

.skill_desc a {
  float:right;
}

.right {
  float:right;
}

.left {
  float:left;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'middle middle middle middle middle middle'
  'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.middle {
  padding: 10px;
}

/* Style the left column */
/*.left {
  grid-area: left;
  background-color:#aaa;
}*/

/* Style the middle column */
.middle {
  grid-area: middle;
  background-color:#0f3370;
  padding-left:10%;
  padding-right:10%;
  min-height:550px;
}

.navbar {
  margin-bottom: 0;
}

/* Style the right column */
/*.right {
  grid-area: right;
  background-color:#ccc;
}*/

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.container{
    max-height:300px;
    overflow-y:auto;
    overflow-x:hidden;
    width:inherit;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.image-preview-clear {
  display:none;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:
    'header header header header header header'
    /*'left left left left left left'*/
    'middle middle middle middle middle middle'
    /*'right right right right right right'*/
    'footer footer footer footer footer footer';
}
