#content{
	text-align: center;
	margin-top: 15%;
}

html{
	width: 100%;
	height: 100%;
}

body{
	background-image: url("https://images.unsplash.com/photo-1493106641515-6b5631de4bb9?ixlib=rb-0.3.5&s=07231bde974d44469d13e9284bff9b38&auto=format&fit=crop&w=1534&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
	background-size: cover;
	background-position: center;
	font-family: "Lato";
}
#lead{
	color: white;
}
#title{
	color: white;
	font-weight: 700;
	font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
#hr1{
	width: 500px;
	border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.userBtn:focus, .userBtn:hover{
    outline: none;
}


.inputText {
    height: 44px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
}

/* Add padding to container elements */
.container {
    padding: 16px;
    width:100%;
}

.form-btn {
    float:right;
    min-width: 102px;
}



.link{
    color:dodgerblue;
}

.modal-footer{
    font-size: 12px;
    color: #545452;
}

.signDialog{
    margin: 15% auto 15% auto;
    max-height: 800px;
}

/* Style the horizontal ruler */
.hr2 {
    border: 1px solid #b2b8be;
    margin-bottom: 25px;
}

/* Float cancel and signup buttons and add an equal width */
#cancelbtn, #signupbtn {
    float: left;
    width: 50%;
}

.modal-footer {
    text-align:left;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    #cancelbtn, #signupbtn {
       width: 100%;
    }
}


.signUp-step-interest_picker {
    display: none;
}

.subscribe-btn{
    min-width:130px;
    float:right;
    text-transform: uppercase;
}
.subscribe-btn:focus, .subscribe-btn:hover{
    outline: none;
}

.interest-item{
    border: 1px solid #ccc;
    line-height: 2.5;
    max-height: 300px;
    box-sizing: border-box;
    overflow-y: auto;
}

.interest-item li:nth-of-type(2n){
    background-color: #f7f7f7;
}

.progress{
    margin:0 auto;
    width:70%;
}

.back-btn{
    background-color: transparent;
    min-width: 102px;
    color: #a5a4a4;
}

.item-count{
    text-align: center;
}

.icon-img{
    float:left;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    margin:auto 10px;
}


#validation-info{
    color:red;
}

