.display-4 {
	text-align: center;
}

.list-group-userpage {
	width: 400px;
	float: right;
	position: relative;
	top: -530px;
}

.list-group-userplay {
	float: left;
	width: 400px;
}

.card {
	max-width: 950px;
	position: relative;
	top: -30px;
}
