.display-4 {
	text-align: center;
}

.list-group-userpage {
	width: 400px;
	float: right;
	position: relative;
	top: -530px;
}

.list-group-userplay {
	float: left;
	width: 400px;
}

.card {
	max-width: 950px;
	position: relative;
	top: -30px;
}

.card.chat{
	width:1000px !important;
	height:530px !important;
	position: relative;
	top: 5px;
	left:20px;
}

.jumbotron {
	background-color: #4ea2d4 !important;
}

.input-group {
	width: 1020px !important;
	float: right;
	position: relative;
	top: 610px;
}

.searchpic {
	width: 30px;
	height: 30px;
}

.search {
	width:300px;
}

.infobutton {
	width: 30px;
	height: 30px;
	position: relative;
	left: 980px;
}


