.display-4 {
	text-align: center;
}

.list-group-userpage {
	width: 400px;
	float: right;
	position: relative;
	top: -530px;
}

.list-group-userplay {
	float: left;
	width: 400px;
	position: relative;
	top: 10px;
}

.navbar {
	height: 52px;
}

.navbar-brand {
	color: grey !important;
	font-size: 18px !important;
}

.allskills {
	background-color: #1F618D !important;
	font-size: 14px !important;
	position: relative;
	right: -9px;
}

.myprog {
	position: relative;
	right: -18px;
}

.heychris {
	background-color: #5DADE2 !important;
	font-size: 14px !important;
	position: relative;
	right: -9px;
}

.logout {
	font-size: 14px !important;
}

.card {
	max-width: 735px;
	position: relative;
	top: -30px;
}

.card.chat{
	width:1000px !important;
	height:550px !important;
	position: relative;
	top: -43px;
	left: 20px;
}

.jumbotron {
	background-color: #4ea2d4 !important;
}

.input-group {
	width: 735px !important;
	float: right;
	position: relative;
	top: 570px;
	left: 11px;
}

.searchpic {
	width: 30px;
	height: 30px;
}

.search {
	width:300px;
}

.infobutton {
	width: 30px;
	height: 30px;
}

.chatitem {
	position: relative !important;
	top: 5px !important;
}

.groupplaybody {
	background-color: #0f3370;
}

.btn-secondary {
	position: relative;
	left: 10px;
}

.padding {
	padding-top:3%;
	padding-left: 10%;
	padding-right: 10%;
}

.groupplayname {
	position: relative;
	left: -100px;
}

.groupplayfooter {
	color: white;
}
