.navbar{
	margin-bottom: 0;
}

.posts-menu{
	margin-top: 20px;
}

.post-info2{
	float:right;
}

.media-heading{
	font-weight: bold;
}

.progress-menu{
	display: none;
}

.messages-menu{
	display: none;
}

.badge{
	background-color: #007bff;
}