.media-body{
	margin-left: 20px;
}

.post-info1{
	float:left;
}

.posts-menu{
	margin-top: 20px;
}

.post-info2{
	float:right;
}

.read-btn{
	margin-top:10px;
}

.media-heading{
	line-height: 30px;
	font-weight: bold;
}

.skill-label{
	margin: 0 auto;
}


.posts-menu{
	margin-top: 20px;
	display: block;
}

.messages-menu{
	display: none;
}

.media-heading{
	font-weight: bold;
}
