body {
	background-color:#0f3370;;
}

.media-body{
	margin-left: 20px;
}

.post-info1{
	float:left;
}

.posts-menu{
	margin-top: 20px;
}

.post-info2{
	float:right;
}

.read-btn{
	margin-top:10px;
}

.media-heading{
	line-height: 30px;
	font-weight: bold;
}

.skill-label{
	margin: 0 auto;
}

.posts-menu{
	margin-top: 20px;
	display: block;
}

.messages-menu{
	display: none;
}

.media-heading{
	font-weight: bold;
}

.middle {
  grid-area: middle;
  background-color:#0f3370;
  padding-left:10%;
  padding-right:10%;
  min-height:645px;
}

.footer {
  background-color: #0f3370;
  text-align: center;
  color:white;
  padding-top:30px;
  padding-bottom:20px;
}

.navbar {
  margin-bottom: 0px;
}

.header {
  background-color: #0f3370;
  text-align: center;
  font-size: 16px;
  padding-right:10%;
  padding-left:10%;
}

.img-thumbnail {
  padding:20px;
}

h1.title-layouts {
    font-size: 3em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 1em;
    font-family: 'Marcellus SC', serif;
    padding: 1em 0;
}

h1.title-layouts span {
    margin-right: 15px;
    color: #ffa200;
}

.list-group {
	padding-top:10px;
}
.badge {
	background-color:#007bff;;
}
